<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<!-- link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
</nav>
<div class="container">
{{ content }}
</div>
<footer>
<ul>
<li><a href="https://github.com/gcc2000-hw">github.com/gcc2000-hw</a></li>
<li><a href="https://gcc2000-hw.github.io"> gcc2000-hw.github.io </a></li>
</ul>
</footer>
</body>
</html>
